@font-face {
  font-family: 'Adelle';
  src: url('../fonts/Adelle-Regular.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Adelle';
  src: url('../fonts/Adelle-Light.otf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'InputSansCondensed';
  src: url('../fonts/InputSansCondensed-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'InputSansCondensed';
  src: url('../fonts/InputSansCondensed-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'InputSansCondensed';
  src: url('../fonts/InputSansCondensed-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'InputSansCondensed';
  src: url('../fonts/InputSansCondensed-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}
