$white: #fff;
$black: #000;
$gray: #4c504f;
$light-gray: #5e5e5e;
$red: #ff7662;
$blue: #00dbf9;
$green: #4aaf77;

$base-font-size: 18px;

$grid-size: 18px;
$grid-size-half: $grid-size / 2;
$grid-size-double: $grid-size * 2;

$logo-background-size: 144px;
$content-header-height: 100px;
$page-footer-height: 50px;

$opacity-transition: opacity, 0.3s;
