@import 'compass';
@import 'variables';
@import 'mixins';
@import 'fonts';

// ========================================
// OVERRIDES
// ========================================
html {
  box-sizing: border-box;
  outline: none;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  outline: inherit;
}

body {
  width: 100vw;
  height: 100vh;
  background: image-url('background.jpg') no-repeat fixed 0 0;
  background-size: cover;
  color: $white;
  font-size: $base-font-size;
  line-height: 1.3;
  -webkit-font-smoothing: antialiased;
}

a {
  color: $white;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

// ========================================
// HELPERS
// ========================================
.dis-b { display: block; }
.dis-ib { display: inline-block; }
.dis-n { display: none; }

.pos-r { position: relative; }
.pos-a { position: absolute; }
.pos-f { position: fixed; }

.vat { vertical-align: top; }
.vam { vertical-align: middle; }

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.text-overflow {
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}
.text-ac { text-align: center; }
.text-al { text-align: left }
.text-shadow { text-shadow: 0 2px 0 rgba($black, 0.65) }
.text-shadow-large { text-shadow: 0 4px 0 rgba($black, 0.65) }

.a-hover-opacity {
  opacity: 0.5;
  transition: $opacity-transition;

  &:hover { opacity: 1; }
}

.clearfix {
  &:after {
    display: table;
    content: '';
    clear: both;
  }
}

.float-r { float: right; }

.fullsize {
  width: 100%;
  height: 100%;
}

.no-pointer-event { pointer-events: none; }

.modal-container {
  padding: $grid-size-double;
  background: rgba($black, 0.9);
  border: 2px solid $white;
  border-radius: 18px;
}

// ========================================
// FONTS
// ========================================
.f-adelle { font-family: 'Adelle', Helvetica, sans-serif; letter-spacing: 5px; }
.f-inputsans { font-family: 'InputSansCondensed', Helvetica, sans-serif; }

.f-bold { font-weight: bold; }
.f-light { font-weight: 300; }
.f-xlight { font-weight: 200; }
.f-thin { font-weight: 100; }

.f-italic { font-style: italic; }

.fs-base { font-size: $base-font-size; }
.fs-small { font-size: 14px; }
.fs-h1 { font-size: 72px; }
.fs-h2 { font-size: 48px; }
.fs-h3 { font-size: 24px; }
.fs-h4 { font-size: 36px; } // Oops on ordering

// ========================================
// ICONS
// ========================================
.icons {
  width: 24px;
  height: 24px;
  background: image-url('icons.png') no-repeat;
  background-size: 120px 24px;
}

.icons-twitter { background-position: 0 center; }
.icons-facebook { background-position: -24px center; }
.icons-printer { background-position: -48px center; }
.icons-down-arrow { background-position: -72px center; }

// ========================================
// COLORS
// ========================================
.color-red { color: $red; }
.color-green { color: $green; }
.color-blue { color: $blue; }
.color-white { color: $white; }
.color-light-gray { color: $light-gray; }

.border-color-red { border-color: $red; }
.border-color-green { border-color: $green; }
.border-color-blue { border-color: $blue; }
.border-color-white { border-color: $white; }
.border-color-light-gray { border-color: $light-gray; }

// ========================================
// HEADER
// ========================================
.page-header {
  left: 0;
  z-index: 2;
}

.logo-container {
  width: $logo-background-size;
  height: $logo-background-size;
  z-index: 2;
}

.logo-background {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: $logo-background-size $logo-background-size 0 0;
  border-color: $red transparent transparent transparent;
  z-index: 1;
}

.logo {
  width: 54px;
  height: 36px;
  margin: $grid-size 0 0 $grid-size;
  background: image-url('ced_logo.png') no-repeat center center;
  background-size: contain;
  z-index: 2;
}

.page-title-container {
  width: 245px;
  height: 36px;
  margin-left: -30px;
  z-index: 1;
}

.page-title-background {
  width: 225px;
  height: 36px;
  background: $gray;
  z-index: 1;
  transform: skew(-45deg);
}

.page-title {
  margin: 6px 0 0 32px;
  z-index: 2;
}

.social-list {
  margin-top: 8px;
}

.social-list-item {
  margin-right: 6px;
}

.social-list-item:last-child {
  margin-left: 6px;
  line-height: 1;
  opacity: 0;
  transition: $opacity-transition;

  &.is-active {
    opacity: 1;
  }
}

// ========================================
// DROPDOWN
// ========================================
.dropdown-title { margin-right: 10px; }

.dropdown-slash {
  width: 1px;
  height: 19px;
  background: $white;
  transform: skew(-45deg);
}

.dropdown-slash-first { margin-right: 3px; }

.dropdown-trigger { margin-left: 10px; }

.dropdown-arrow { margin-left: $grid-size-half; }

.dropdown-list {
  display: none;
  right: 0;
}

.filter-list {
  right: 0;
  bottom: 0;
}

.filter-list-item {
  margin-right: $grid-size-double;

  &:last-child { margin-right: 0; }
}

.filter-list-item.is-active {
  .dropdown-list { display: block; }

  .icons-down-arrow { background-position: -96px center; }

  .dropdown-current,
  .dropdown-list-item {
    @extend .text-shadow;
  }
}

.filter-content {
  transition: $opacity-transition;
}

.content-section.filter-is-active {
  .filter-content {
    opacity: 0.25;
  }
}

// ========================================
// CONTENT
// ========================================
.page-background-overlay {
  background: $light-gray;
  z-index: 1;
  opacity: 0.1;
}

.page-background-linear-gradient-overlay {
  @include background-image(linear-gradient($black, rgba($black, 0)));
  opacity: 0.65;
  z-index: 2;
}

.page-background-radial-gradient-overlay {
  @include background-image(radial-gradient(circle, $white 10px, rgba($white, 0) 70%));
  width: 100%;
  top: -80%;
  left: 50%;
  z-index: 3;
  opacity: 0.2;

  &:before{
    content: "";
    display: block;
    padding-top: 100%;  /* initial ratio of 1:1*/
  }
}

.page-container {
  z-index: 4;
}

.page-content {
  top: 0;
  left: 0;
  z-index: 1;
}

.content-section { padding: $grid-size; }

.content-header {
  height: $content-header-height;
  z-index: 5;
}

.content-title {}

.content-subtitle {
  width: 100%;
  padding: 0 $grid-size;
  bottom: 0;
}

.funding-left,
.funding-right {
  padding: 0 $grid-size;
  bottom: $page-footer-height + $grid-size;
}

.funding-left {
  width: 60%;
  top: $content-header-height + ($grid-size-double * 1.5);
  left: 0;
}

.funding-right {
  width: 40%;
  top: $content-header-height + ($grid-size-double * 2);
  right: 0
}

.funding-pie-text {
  @include translate(-50%,-50%);
  top: 50%;
  left: 50%;
  transition: opacity, 0.5s;
}

.funders-container,
.deals-container {
  top: $content-header-height + ($grid-size-double * 1.5);
  bottom: $page-footer-height + $estimated-twitter-height + ($grid-size * 1.5);
  left: 0;
  right: 0;
}

.funders-state-info {
  @include translateY(-50%);
  top: 50%;
  left: 60%;
  opacity: 0;
  transition: $opacity-transition;

  &.is-active {
    opacity: 1;
  }
}

.funders-investors-container {
  @include translateX(-50%);
  width: 400px;
  left: 50%;
  top: -50px;
  bottom: 0;
  opacity: 0;
  transition: $opacity-transition;

  &.is-active {
    opacity: 1;
  }
}

.funders-investors-list {
  padding: $grid-size-double;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: scroll;
}

.funders-investors-list-item {
  margin-bottom: $grid-size;

  &:last-child {
    margin-bottom: 0;
  }
}

.funders-investors-close {
  top: $grid-size-half;
  right: $grid-size;
  z-index: 2;
}

.exits-container {
  top: $content-header-height + $grid-size-double;
  bottom: $page-footer-height + $estimated-twitter-height + ($grid-size * 1.5);
  left: $grid-size-double;
  right: $grid-size-double;
}

.exits-list {}

.exits-list-item {
  width: 15%;
  padding-top: 15%;
  margin: $grid-size-half;
  transition: $opacity-transition;
}

.exits-logo-container {
  top: 0;
  left: 0;
  background: $white;
  border: 2px solid $gray;
  border-radius: 100%;
  box-shadow: 0 4px 2px rgba($black, 0.15);
}

.exits-logo {
  @include translate(-50%,-50%);
  width: 70%;
  height: 70%;
  top: 50%;
  left: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.exits-type {
  width: 38px;
  height: 38px;
  background: $white;
  border-width: 2px;
  border-style: solid;
  border-radius: 100%;
  line-height: 36px;
  top: 10px;
  right: 10px;
  box-shadow: 0 2px 0 rgba($black, 0.15);
}

.exits-info {
  width: 300px;
  top: 0;
  opacity: 0;
  transition: $opacity-transition;
}

.exits-list-item.show-right {
  .exits-info { left: 105%; }
}

.exits-list-item.show-left {
  .exits-info { right: 105%; }
}

.exits-list-item.animate-info {
  .exits-info { opacity: 1; }
}

.exits-list.item-is-active {
  .exits-list-item:not(.is-active) {
    opacity: 0.1;
  }
}

// ========================================
// SHARE BOX
// ========================================
.share-box-container {}

.share-box {
  padding: $grid-size;
  border-radius: 18px;
  border: 1px dotted $white;

  p:first-child {
    margin-bottom: $grid-size-half;
  }
}

.share-box-list {}

.share-box-list-item {
  &:first-child {
    margin-right: $grid-size-half;
  }
}

.funding-share-box {
  width: 40%; // Same as .funding-right
  padding: 0 $grid-size;
  bottom: $page-footer-height + $grid-size;
  right: 0;
}

.centered-share-box {
  @include translateX(-50%);
  max-width: 900px;
  width: 100%;
  padding: 0 $grid-size;
  left: 50%;
  bottom: $page-footer-height + $grid-size;
}

// ========================================
// FOOTER
// ========================================
.page-footer {
  width: 100%;
  height: $page-footer-height;
  bottom: 0;
  left: 0;
  z-index: 2;
}

.nav-list {}

.nav-list-item {
  margin: 0 $grid-size-half;

  div {
    transition: $opacity-transition;
    opacity: 0.5;

    &:last-child {
      font-size: 40px;
      line-height: 0.8;
    }
  }

  &.is-active,
  a:hover {
    div { opacity: 1; }
  }

  &.is-active {
    .f-xlight { font-weight: normal; }
    .f-italic { font-style: normal; }
  }
}

// ========================================
// PRINTING
// ========================================
body.is-printable {
  background: $gray;

  .page-background-overlay,
  .page-background-linear-gradient-overlay,
  .page-background-radial-gradient-overlay,
  .page-footer,
  .share-box-container {
    display: none;
  }
}
